/* Layout and Base */

body {
	text-align: center;
	background-color: floralwhite;
	font-family: sans-serif;
	margin: 3rem 1rem 1rem;
}

a,
h1 {
	font-family: monospace;
}

a:visited {
	color: #8f8ffb;
}

a.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

a.no-highlight {
	color: initial;
}

p.subtitle {
	margin-top: -1rem;
}

/* Focus */

a:focus,
input:focus,
button:focus {
	outline: 2px solid;
	outline-offset: -2px;
}

a:focus {
	outline-offset: 2px;
}

input:focus {
	outline-color: black;
}

button:focus {
	outline-color: darkred;
}

/* Forms and Buttons */

input, button, label {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: monospace;
	outline: none;
}

label {
	display: inline-block;
	padding: 10px;
	text-align: left;
}

input {
	box-sizing: border-box;
	border: 1px solid black;
	width: 100%;
	padding: 8px 10px;
	margin-top: 5px;
}

button {
	border: 1px solid darkred;
	background-color: orangered;
	color: white;
	padding: 8px 10px;
}

button:hover {
	background-color: red;
}

fieldset {
	display: inline-block;
	border-color: darkgrey;
	border-width: 1px;
	border-style: dashed;
	padding: 1rem;
	margin: 1rem 0 0 0;
}

/* Info classes */

.error,
.error:visited {
	color: orangered;
}

.success,
.success:visited {
	color: forestgreen;
}

.info,
.info:visited {
	color: dodgerblue;
}

.danger,
.danger:visited {
	color: darkorange;
}

.success a,
.error a,
.info a,
.danger a {
	color: black;
}

/* Lists */

ul {
	display: inline-block;
	padding-left: 0;
	list-style: none;
	max-width: 30%;
	min-width: 300px;
}

li {
	padding: 5px 0;
}

