<%- include("../partials/header") %>

<h1>YouTube Playlist Tracker</h1>
<p>Every day we make a snapshot of your playlist.<br>
If a video gets deleted, you'll be able to check its title here.</p>
<form id="add-playlist" action="./" method="post">
	<label>Playlist
	<input name="playlist_url" type="text"
		placeholder="YouTube Playlist URL"
		pattern="^https:\/\/www\.youtube\.com\/playlist\?list=[A-Za-z0-9_-]+$"
		title="https://www.youtube.com/playlist?list=XXXXX"
		maxlength="100"
		required></label>
	<button class="track">Track</button>
</form>

<% if(message && type) { %>
<p class="<%= type %>"><%- message %></p>
<% } %>

<%- include ("../partials/footer") %>

